<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur The Gossip Project!</h1>
    <h2>La liste de potins arrive bientôt, tu peux en attendant cliquer sur le liens juste en dessous pour en créer un!</h2>
    <a href="/gossips/new/">LIEN POUR CREER UN POTIN</a>

  

  </body>
</html>